In [ ]:
Fundamentals of Python programming Assignment :

In [ ]:
# Section one - Python Operations and Control Structures:

In [ ]:
1. Sum of all numbers in a list using a for loop

In [1]:
# Sample input
numbers = [1, 2, 3, 4, 5]

# Initialize sum variable
total_sum = 0

# Use a for loop to iterate through the list and calculate the sum
for number in numbers:
    total_sum += number

# Print the result
print("The sum of all numbers in the list is:", total_sum)

The sum of all numbers in the list is: 15

In [ ]:
2. The output for the code:

In [ ]:
#The code provided uses the exponentiation operator (`**`) to calculate the power of `x` raised to `y`. Here is the breakdown:

#In this case, x is 5 and y is 2. The expression x ** y calculates ( 5^2 ).
Therefore, the sample output provided is correct. 

The output of the code will indeed be 25

In [ ]:
3. Palindrome using a while loop:

In [2]:
# Sample input
num = 12321

# Convert the number to a string
num_str = str(num)

# Initialize pointers
left = 0
right = len(num_str) - 1

# Flag to indicate if it's a palindrome
is_palindrome = True

# Use a while loop to compare digits from both ends
while left < right:
    if num_str[left] != num_str[right]:
        is_palindrome = False
        break
    left += 1
    right -= 1

# Print the result
print(is_palindrome)

True

In [ ]:
#Explanation: The num_str variable holds the string representation of num.

The left pointer starts at the beginning of num_str, and the right pointer starts at the end.
    
The while loop compares characters from both ends and moves towards each other.
    
If any pair of characters does not match, it sets is_palindrome to False and breaks out of the loop.
    
Finally, it prints whether or not num is a palindrome.

In [ ]:
4. The output of the code:

In [3]:
fruits = ['apple', 'banana', 'cherry']
print(fruits[-1])

cherry

In [ ]:
#Therefore, the sample output provided is correct.

The output of the code will indeed be "cherry".

In [ ]:
5. The average of all the numbers in a list using a for loop:

In [4]:
# Sample input
numbers = [1, 2, 3, 4, 5]

# Initialize sum variable
total_sum = 0

# Use a for loop to calculate the sum
for number in numbers:
    total_sum += number

# Calculate the average
average = total_sum / len(numbers)

# Print the result
print("The average of all numbers in the list is:", average)

The average of all numbers in the list is: 3.0

In [ ]:

## Section two - Lists and Dictionaries:

In [ ]:

6. Create a Dictionary with students names as keys and their grates as values:

In [5]:
# Sample input
students = ['John', 'Alice', 'Bob']
grades = [90, 85, 95]

# Use zip to pair students with grades and create a dictionary
student_grades = dict(zip(students, grades))

# Print the resulting dictionary
print(student_grades)

{'John': 90, 'Alice': 85, 'Bob': 95}

In [ ]:
7. The output of the code:

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers[1:3])
numbers = [1, 2, 3, 4, 5]
numbers[1] = 2
numbers[2] = 3
print(numbers[1:3])

[2, 3]
[2, 3]

In [ ]:
#the sample output provided is correct.
The output of the code will indeed be [2, 3].

In [ ]:

8. Sort list of numbers in ascending order using the sorted() function:

In [7]:
# Sample input
numbers = [4, 2, 9, 6, 5]

# Use the sorted() function to sort the list in ascending order
sorted_numbers = sorted(numbers)

# Print the sorted list
print(sorted_numbers)

[2, 4, 5, 6, 9]

In [ ]:

9. The output of the code:

In [8]:
fruits = {'apple': 5, 'banana': 10, 'cherry': 15}
print(fruits.get('banana'))

10

In [ ]:
The code provided uses the get() method to retrieve the value associated with the key 'banana'
from the dictionary fruits.

In [ ]:
10. create a list of squares of all numbers from 1 to 10 using a list comprehension.

In [9]:
# Use list comprehension to create a list of squares
squares = [x**2 for x in range(1, 11)]

# Print the resulting list
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
### Section 3 - Advanced Topics

In [ ]:
11. calculate the factorial of a number using recursion.

In [10]:
def factorial(n):
    # Base case: factorial of 0 or 1 is 1
    if n == 0 or n == 1:
        return 1
    # Recursive case: n * factorial(n-1)
    else:
        return n * factorial(n-1)

# Sample input
num = 5

# Check if the number is negative
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
else:
    # Calculate and print the factorial
    print("The factorial of", num, "is", factorial(num))

The factorial of 5 is 120

In [ ]:

12.The output for the code:

In [11]:
numbers = [1, 2, 3, 4, 5]
print(list(reversed(numbers)))

[5, 4, 3, 2, 1]

In [ ]:
#The code provided uses the reversed() function to reverse the order of the elements in the list numbers and 
#then converts the resulting iterator to a list using the list() function.

In [ ]:
13.  create a generator that yields the Fibonacci sequence up to the nth term.

In [12]:
def fibonacci_generator(n):
    # Initialize the first two Fibonacci numbers
    a, b = 0, 1
    
    # Yield the first 'n' Fibonacci numbers
    for _ in range(n):
        yield a
        a, b = b, a + b

# Sample input
n = 10

# Create a list of the first 'n' Fibonacci numbers using the generator
fibonacci_numbers = list(fibonacci_generator(n))

# Print the result
print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
14. The output for the code:

In [13]:
import math
print(math.pi)

3.141592653589793

In [ ]:
#The code provided uses the math.pi constant from Python's math module to print the value of Pi.

In [ ]:
15. print the inverted star pyramid of height 5.

In [14]:
# Set the number of rows
rows = 5

# Outer loop to control the number of rows
for i in range(rows, 0, -1):
    # Inner loop to print spaces
    for j in range(rows - i):
        print(" ", end=" ")
    
    # Inner loop to print stars
    for j in range(2 * i - 1):
        print("*", end=" ")
    
    # Move to the next line after printing each row
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *